#selectPokemon {
    overflow-y: auto;
    margin: 1rem 0;
  }

#selectedPokemon {
  position:relative;
  padding-top: 50px;
  bottom:30px;
  left:30%;
}

#selectedPokemon > img{
  border-style:solid;
  border-color:red;
}

#selectPokemon > img{
  border-style:solid;
  border-color:black;
}

#lockIn {
  padding:10px;
  margin:auto;
  width:10%;
  border-style:dashed;
}

#lockInText {
  text-align:center;
}

#container {
  background-color: white;
  position:absolute;
  margin-top:10%;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  height: 50%;
  padding:10px;
  border: 10px solid black
}


/* battlePage */
.pokemon{
height: 50%;
}

#pokemon1text {
float:left;
text-align: left;
width:50%;
height: 100%;
}

#img2 {
position: absolute;
height:45%;
right:10%;
}

#pokemon2text {
float:right;
text-align: left;
width:50%;
height: 100%;
}

#img1{
position: absolute;
height:45%;
left:10%;
bottom:5%;
}

.pokemon-text {
margin:1%;
border:5px solid black;
font-size: 20px;
}